* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  background-color: $mainBg;
}

a {
  color: inherit;
  text-decoration: inherit;
}
