//colors
$white: #ffffff;
$gray: #e5e5e5;
$dark-gray: #020202;
$light-gray: #f2f2f2;
$blue: #3a9ddb;
$black: #000000;

//background colors:
$mainBg: $gray;
$containerBg: $white;
$buttonBg: $blue;

//text colors:
$mainText: $dark-gray;
$secondaryText: $light-gray;
$buttonText: $white;
