//colors
$white: #ffffff;
$gray: #e5e5e5;
$darkGray: #e0e0e0;
$lightGray: #f2f2f2;
$blue: #3a9ddb;
$black: #000000;

//background colors:
$mainBg: $gray;
$containerBg: $white;
$inputBg: $lightGray;
$buttonBg: $blue;
$boxBg: $darkGray;

//text colors:
$mainText: $darkGray;
$secondaryText: $lightGray;
$buttonText: $white;
